.sub__listContainer{
    border-radius: 20px;
    padding: 5px;
}

.sub__listContainer:nth-child(odd) {
    background: $lightgrey;
}

.sub__listContainer:nth-child(even) {
    background: $grey;
}

.list__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.list__option textarea {
    border: none;
    background: transparent;
    font-size: 2em;
    vertical-align: middle;
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0px 10px;
    resize: none;
    font-weight: bold;
    overflow:hidden;

}

.list__option textarea:focus {
    border: solid 1px black;
    background: $off-white;
}

.list__option input {
    display: none;
}

.optionButtons{
    margin-left: auto;
}

.optionButton{
    cursor: pointer;
    background-color: unset;
    margin: 0 2px 0 auto;
    border-radius: 100%;
    padding: 10px;
    border: 0;
    background: purple;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;

}

.complete__button:hover {
    background: rgb(73, 36, 73);
    color: lightgreen;
}

.remove__button:hover {
    background: rgb(73, 36, 73);
    color: red;
}
