.list__container {
    font-size: 2em;
    margin: 0;
    list-style-position: inside;
    padding: 0;
}

.list__option:nth-child(odd) {
    background: $lightgrey;
}

.list__option:nth-child(even) {
    background: $grey;
}

.list__option {
    display: flex;
    align-content: center;
    padding: 10px;
    align-items: center;
    border-radius: 20px;

}

.list__option li {
    font-weight: bold;
    text-transform: capitalize;
}

.remove__button {
    cursor: pointer;
    background-color: unset;
    margin: 0 2px 0 auto;
    border-radius: 100%;
    padding: 10px;
    border: 0;
    background: purple;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 0.5em;
    text-align: center;
    vertical-align: middle;
    flex: none;
}

.remove__button:hover {
    background: rgb(73, 36, 73);
    color: lightgrey;
}