// Control Panel - Buttons and Entries


.controlPanel{
    display: none;
}

// Add Option To List Styling
.add__option {
width: 100%;
}
.add__option .error-message {
    padding: 0px 10px 10px;
    margin: 0;
    color: darkred;
}

.add__option form {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.add__option form input {
    border: 1px solid grey;
    font-size: 2.5em;
    line-height: 1.5;
    flex: 1;
    margin: 0 10px;
}


.add__option form button {
    cursor: pointer;
    background-color: unset;
    margin: 10px;
    border-radius: 100%;
    padding: 10px;
    border: 0;
    background: purple;
    color: white;
    width: 40px;
    height: 40px;
    font-size: $lg-size;
    text-align: center;
    vertical-align: middle;

}

// Action Button - Choose a Task

.large__btn {
    width: 50%;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: purple;
    padding: 10px;
    margin: 1vw;
    color: white;

}

.action__btn button {
    color: white;
    font-size: 2em;
    background-color: unset;
    border: 0;
}

.removeAll__btn button {
    font-size: 2em;
    color: white;
    background-color: unset;
    border: 0;
}